/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  text-decoration: none;
  list-style-type: none;
}
body{
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #ffffff;
  justify-content: center;
  height: fit-content;
}
header{
  height: 80px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo{
  color: black;
  height: 65px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  margin-left: 50px;
}
.logo :nth-child(2){
  position: relative;
  font-family: 'Lato', sans-serif;
  left: 8px;
  bottom: 5px;
  font-weight: 400;
  font-size: 0.9em;
}
.header-btn,
.header-logo{
  display: flex;
}
.header-logo h1{
  font-weight: 600;
  margin-top: 20px;
}
.header-logo h1 span{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}
.div-title{
}
.div-title h1{
  text-align: center;
  margin-top: 100px;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg,#FF39A7 0,#E265AF 16%,#9F5DE6 33%,#655BE2 50%,#9F5DE6 67%,#E265AF 84%,#FF39A7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper{
  height: 265px;
  margin: auto;
  margin-top: 100px;
  max-width: 410px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
  height: 530px;
}
main h1{
  font-size: 21px;
  font-weight: 500;
}
main p{
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
}
.form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form input::placeholder{
  color: #999;
}
.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #3498DB;
}
.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}
.btn{
  height: fit-content;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'Poppins', sans-serif;
  min-width: 28px;
  padding: 10px 16px;
  border-radius: 200px;
  background: #0071e3;
  color: #fff;
}
.header-btn{
  justify-content: flex-end !important;
  align-items: flex-end !important;
  margin: auto;
  margin-right: 10px;
}
.copyright{
  text-align: center;

}
@media (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active{
    height: 510px;
  }
  header p{
    color: #696969;
  }
  .form :where(input, button){
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  } 
  .logo{
  color: black;
  height: 65px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  margin-left: 8px;
  }
  .div-title h1{
    font-size: 2em;
  }
  header{
    width: 100%;
  }
  .copyright{
    font-size: 2em;
  }
}
